* {
    font-family: 'Titillium Web';
}

header {
    background-color: #F4C844;
    text-align: center;
    color: white;
    padding: 10px;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 25px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #00329F;
    text-align: center;
}

li a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: white;
}

li a:hover:not(.active) {
    background-color: white;
    color: #404040;
}