* {
    font-family: 'Titillium Web';
}
button {
    padding: 6px 10px;
    background-color: #00329F;
    color: white;
    border-radius: 8px;
    font-size: 13px;
    font-weight: 600;
    margin: 0px 20px;
}

button:active {
    background-color: white;
    color: #00329F;
}